/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55'); */
@import url('https://db.onlinewebfonts.com/c/9bfe4a99593cfe1964b1c6b7c55c254e?family=Compacta+ICG');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

:root{
    --orange1: #F07F1A;

    --biru1: #1C1565;
    --biru2: #171250;
    --biru3: #383090;

    --putih: #FFFFFF;
    --hitam: #232B2B;

    /* font size */
    --text-xs: 12px;
    --text-sm: 14px;
    --text-normal: 16px; 
    --text-lg: 18px; 
    --text-xl: 20px; 
    --text-2xl: 24px; 
    --text-3xl: 30px; 
    --text-4xl: 36px; 
    --text-5xl: 48px; 
    --text-6xl: 60px; 
    --text-7xl: 72px; 
    --text-8xl: 96px; 
    --text-9xl:128px;

    /* font family */
    --compacta: "Compacta ICG", cursive;
    --helvetica-neue: 'Helvetica Neue', sans-serif;
    --roboto-condensed : "Roboto Condensed", sans-serif;
    --outfit: "Outfit", sans-serif

    /* easing */
    --ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);
}




/*==================*/
/*===== FOOTER =====*/
/*==================*/

footer {
  background-color: var(--biru2);
  height: 817px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerFooter{
  width: 100%;
  display: flex;
  justify-content: space-evenly;


}

.containerFooter h1 {
  font-family: var(--compacta);
  font-weight: 400;
  font-size: 70px;
  line-height: 66px;
  color: var(--orange1);
  text-transform: uppercase;
}
.contact{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact h2 {
  font-family: var(--outfit);
  font-size: 40px;
  font-weight: 400;
  color: var(--orange1);
  margin-top:100px;
}

.contact div{
  font-family: var(--outfit);
  font-size: 40px;
  font-weight: 600;
  color: var(--orange1);
}

.sparing {
  display: flex;
  height: 266px;
  flex-direction: column;
  justify-content: space-between;
}

.lh-23{
  line-height: 23px;
}

.h-50{
  height: 50px;
}