/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55'); */
@import url('https://db.onlinewebfonts.com/c/9bfe4a99593cfe1964b1c6b7c55c254e?family=Compacta+ICG');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

:root{
    --orange1: #F07F1A;

    --biru1: #1C1565;
    --biru2: #171250;
    --biru3: #383090;

    --putih: #FFFFFF;
    --hitam: #232B2B;

    /* font size */
    --text-xs: 12px;
    --text-sm: 14px;
    --text-normal: 16px; 
    --text-lg: 18px; 
    --text-xl: 20px; 
    --text-2xl: 24px; 
    --text-3xl: 30px; 
    --text-4xl: 36px; 
    --text-5xl: 48px; 
    --text-6xl: 60px; 
    --text-7xl: 72px; 
    --text-8xl: 96px; 
    --text-9xl:128px;

    /* font family */
    --compacta: "Compacta ICG", cursive;
    --helvetica-neue: 'Helvetica Neue', sans-serif;
    --roboto-condensed : "Roboto Condensed", sans-serif;

    /* easing */
    --ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);
}

main{
    margin-top: 70px;
}

body{
    overflow-x: hidden;
    font-family: var(--helvetica-neue);
}

/*=============================*/
/*===== COMPONENT PACKAGE =====*/
/*=============================*/

[data-aos] {
  body[data-aos-easing="ease-in-out-quint"] &,
  &[data-aos][data-aos-easing="ease-in-out-quint"] {
    transition-timing-function: var(--ease-in-out-quint);
  }
}



/*==================*/
/*===== NAVBAR =====*/
/*==================*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;

    width: 100%;
    /* height: 50px; */

    background-color:var(--biru1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0;
}

nav .nav-logo{
    width: 5%;
    height: 100%;
    padding: 8px 0;
}
nav .nav-logo img{
    width: 100%;
}

nav .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

.nav-links{
    list-style:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    /* gap: 20px; */
}


.nav-links a{
    position: relative;
    text-decoration: none;
    font-size: var(--text-lg);
    color: white;
    transition: 200ms;
    /* font-weight: bold; */
}
.nav-links a:hover{
    color: rgb(171, 171, 171);
    /* text-decoration: underline; */
    /* color: red; */
    transition: 200ms;
}

.nav-links a::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

    width: 0%;
    height: 3px;
    background-color: var(--orange1);

    transition: .25s;
}

.nav-links a:hover::after{
    /* height: 3px; */
    width: 100%;
}




/*=================================================*/
/*==================== BERANDA ====================*/
/*=================================================*/

/*====================*/
/*===== MAINHERO =====*/
/*====================*/

.mainhero{
    position: relative;

    width: 100%;
    min-height: 42vw;

    padding: 32px 16px;

    background-color: var(--biru1);
}
.mainhero .bg-konten-box{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    height: 100%;
    width: 60%;

    background-color: rgba(0, 0, 0, 0.30);
}
.mainhero .konten{
    position: relative;
    z-index: 10;
}
.mainhero .konten .konten-box{
    width: 60%;
    padding: 20px 32px;
}
.mainhero .konten .konten-box h1{
    font-size: 200px;
    font-family: var(--compacta);
    color: var(--orange1);

    line-height: 70%;

    text-transform: uppercase;
}
.mainhero .konten .konten-box h2{
    font-size: 120px;
    font-family: var(--compacta);
    color: var(--putih);

    text-transform: uppercase;
}
.mainhero .konten .konten-box p{
    font-size: var(--text-normal);
    font-family: var(--helvetica-neue);
    color: var(--putih);
}

.button-orange{
    display: flex;
    align-items: center;

    width: fit-content;

    padding: 16px 50px ;

    font-family: var(--roboto-condensed);
    font-size: var(--text-xl);
    font-weight: 600;
    color: var(--putih);

    background-color: var(--orange1);

    text-decoration: none;
    text-transform: uppercase;
    transform: skewX(-15deg);

    /* transition: .2s cubic-bezier(0.785, 0.135, 0.15, 0.86); */
}
.button-orange div{
    display: inline-block;
    transform: skewX(15deg);
}
.button-orange:hover{
    color: var(--putih);
    /* transform: skewX(0); */
}

.mainhero .gambar{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
    
    width: 40%;
    height: 100%;
}

.mainhero .gambar .bottom-shadow{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 50;

    width: 100%;
    height: 25%;
    background: linear-gradient(180deg, transparent 0%, var(--biru1) 80%);
}


.mainhero .swiper-players {
    width: 100%;
    height: 100%;
}

.mainhero .swiper-players .swiper-slide{
    text-align: center;
    font-size: 18px;
    /* background: #fff; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.mainhero .swiper-players .swiper-slide img{
    width: 75%;
    aspect-ratio: 1/1.5;
    object-fit: cover;
    object-position: top;
}

/*=================*/
/*===== ABOUT =====*/
/*=================*/

.home-about {
    position: relative;

    background-color: var(--putih);
}
.home-about .bg-gambar{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    height: 100%;
    width: 40%;
    
    background-color: var(--orange1);
}

.home-about .about-container{
    position: relative;
    z-index: 20;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home-about .about-container .gambar{
    width: 35%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.home-about .about-container .gambar img{
    width: 100%;
}

.home-about .about-container .konten{
    width: 55%;

    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 16px;
    padding-right: 16px;
}
.home-about .about-container .konten h2{
    font-family: var(--compacta);
    font-size: var(--text-7xl);
    color: var(--orange1);
}
.home-about .about-container .konten h2 span{
    color: var(--hitam) ;
}
.home-about .about-container .konten p{
    font-family: var(--helvetica-neue);
    font-size: var(--text-normal);
}
.home-about .about-container .konten .data{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.home-about .about-container .konten .data .item{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 33%;
}
.home-about .about-container .konten .data .item h3{
    margin-bottom: 0;

    font-size: var(--text-4xl);
    font-weight: 700;
    color: var(--orange1);
}
.home-about .about-container .konten .data .item h4{
    text-align: center;
    font-family: var(--helvetica-neue);
    font-size: var(--text-normal);
    font-weight: 600;
    font-style: italic;
}

/*===========================*/
/*===== DIVIDER ROSTERS =====*/
/*===========================*/

.divider-rosters{
    padding: 48px 0;
    background-color: var(--biru3);
}

/*===================*/
/*===== ROSTERS =====*/
/*===================*/

.rosters .boys-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.rosters .boys{
    position: relative;
    z-index: 30;
    background-color: var(--biru2);
}
.rosters .boys .gambar{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 40;
    pointer-events: none;
}


.rosters .girls-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rosters .girls{
    position: relative;
    z-index: 40;
    background-color: var(--biru3);
}
.rosters .girls .gambar{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 50;
    pointer-events: none;
}

.rosters .gambar,
.rosters .konten{
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.rosters .gambar img{
    width: 50%;
    aspect-ratio: 1/1.3;
    object-fit: cover;
    object-position: center top;

    filter: grayscale(1);

    transition: 0.6s ;
}

.rosters .boys .konten h2,
.rosters .girls .konten h2{
    font-family: var(--compacta);
    font-size: 240px;
    text-transform: uppercase;
    letter-spacing: -5px;

    transition: .5s;
}
.rosters .boys .konten h2{
    background: linear-gradient(to left, #D9D9D9 50%, var(--orange1) 50%) right;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
}
.rosters .girls .konten h2{
    background: linear-gradient(to right, #D9D9D9 50%, var(--orange1) 50%) left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
}


.rosters .boys:hover .gambar img,
.rosters .girls:hover .gambar img{
    filter: grayscale(0);
    transition: 0.6s;
}

.rosters .boys:hover .konten h2{
    background-position: left;
}

.rosters .girls:hover .konten h2{
    background-position: right;
}






























/*==================*/
/*===== FOOTER =====*/
/*==================*/

footer{
    background-color: var(--orange1);
    padding: 32px 16px;
}
footer .footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
}
footer .footer-container .daftar{
    width: 50%;
}
footer .footer-container h3{
    font-size: var(--text-5xl);
    font-weight: 500;
    color: var(--putih);
}
footer .footer-container p{
    font-size: var(--text-normal);
    font-weight: 400;
    color: var(--putih);
}
footer .footer-container .sparing{
    width: 50%;
}