/* @import url('https://fonts.cdnfonts.com/css/helvetica-neue-55'); */
@import url('https://db.onlinewebfonts.com/c/9bfe4a99593cfe1964b1c6b7c55c254e?family=Compacta+ICG');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}

:root{
    --orange1: #F07F1A;

    --biru1: #1C1565;
    --biru2: #171250;

    --putih: #FFFFFF;

    /* font size */
    --text-xs: 12px;
    --text-sm: 14px;
    --text-normal: 16px; 
    --text-lg: 18px; 
    --text-xl: 20px; 
    --text-2xl: 24px; 
    --text-3xl: 30px; 
    --text-4xl: 36px; 
    --text-5xl: 48px; 
    --text-6xl: 60px; 
    --text-7xl: 72px; 
    --text-8xl: 96px; 
    --text-9xl:128px;

    /* font family */
    --compacta: "Compacta ICG", cursive;
    --helvetica-neue: 'Helvetica Neue', sans-serif;
    --roboto-condensed : "Roboto Condensed", sans-serif;

}



/* navbar */
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;

    width: 100%;

    background-color:var(--biru1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

nav .nav-logo{
    width: 5%;
    height: 100%;
}
nav .nav-logo img{
    width: 100%;
}

nav .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100%;
}

.nav-links{
    list-style:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    /* gap: 20px; */
}


.nav-links a{
    position: relative;
    text-decoration: none;
    font-size: var(--text-xl);
    color: white;
    transition: 200ms;
    /* font-weight: bold; */
}
.nav-links a:hover{
    color: rgb(171, 171, 171);
    /* text-decoration: underline; */
    /* color: red; */
    transition: 200ms;
}

.nav-links a::after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

    width: 0%;
    height: 3px;
    background-color: var(--orange1);

    transition: .25s;
}

.nav-links a:hover::after{
    /* height: 3px; */
    width: 100%;
}

body{
    font-family: 'Helvetica Neue', sans-serif;
}

main{
    margin-top: 80px;
}


/*=================================================*/
/*==================== BERANDA ====================*/
/*=================================================*/

/*====================*/
/*===== MAINHERO =====*/
/*====================*/

.mainhero{
    position: relative;

    width: 100%;
    min-height: 42vw;

    padding: 32px 16px;

    background-color: var(--biru1);
}
.mainhero .bg-konten-box{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    height: 100%;
    width: 60%;

    background-color: rgba(0, 0, 0, 0.30);
}
.mainhero .konten{
    position: relative;
    z-index: 10;
}
.mainhero .konten .konten-box{
    width: 60%;
    padding: 20px 32px;
}
.mainhero .konten .konten-box h1{
    font-size: 200px;
    font-family: var(--compacta);
    color: var(--orange1);

    line-height: 70%;

    text-transform: uppercase;
}
.mainhero .konten .konten-box h2{
    font-size: 120px;
    font-family: var(--compacta);
    color: var(--putih);

    text-transform: uppercase;
}
.mainhero .konten .konten-box p{
    font-size: var(--text-normal);
    font-family: var(--helvetica-neue);
    color: var(--putih);
}

.button-orange{
    display: flex;
    align-items: center;

    width: fit-content;

    padding: 16px 50px ;

    font-family: var(--roboto-condensed);
    font-size: var(--text-xl);
    font-weight: 600;
    color: var(--putih);

    background-color: var(--orange1);

    text-decoration: none;
    text-transform: uppercase;
    transform: skewX(-15deg);

    /* transition: .2s cubic-bezier(0.785, 0.135, 0.15, 0.86); */
}
.button-orange div{
    display: inline-block;
    transform: skewX(15deg);
}
.button-orange:hover{
    color: var(--putih);
    /* transform: skewX(0); */
}


/*===================*/
/*===== ROSTERS =====*/
/*===================*/

.rosters .header{
    padding: 100px;

    background-color: var(--orange1);
    background-size: contain;
    background-position: center;
}
.rosters .header h2{
    text-align: center;
    font-size: var(--text-6xl);
    color: var(--putih);
}


























/*==================*/
/*===== FOOTER =====*/
/*==================*/

footer{
    background-color: var(--orange1);
    padding: 32px 16px;
}
footer .footer-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
}
footer .footer-container .daftar{
    width: 50%;
}
footer .footer-container h3{
    font-size: var(--text-5xl);
    font-weight: 500;
    color: var(--putih);
}
footer .footer-container p{
    font-size: var(--text-normal);
    font-weight: 400;
    color: var(--putih);
}
footer .footer-container .sparing{
    width: 50%;
}